<h2>Register your vehicle</h2>
<p>No Account or password needed!</p>
<%= render "form" %>

<h2>Add us to your contacts</h2>
Text 206-557-6556 with the license plate number and the state abbreviation to alert the car owner.

<h2>Alert someone</h2>
<p>Don't want to send a text? Alert a car owner with this form instead</p>
<%= render "text_form" %>

<h1 id="what">What is this?</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
*Ut enim ad minim veniam, quis nostrud exercitation ullamco
*laboris nisi ut consequat. Duis aute irure 
*dolor in reprehenderit elit esse cillum dolore eu
 
fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
proident, sunt in culpa qui officia deserunt mollit anim id est 
laborum.</p>


<h1 id="why">Why do this?</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
*Ut enim ad minim veniam, quis nostrud exercitation ullamco
*laboris nisi ut consequat. Duis aute irure 
*dolor in reprehenderit elit esse cillum dolore eu
 
fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
proident, sunt in culpa qui officia deserunt mollit anim id est 
laborum.</p>

<h1 id="contact">Contact Us</h1>
<p>Contact form</p>
