<h2>Register your vehicle</h2>
<p>No Account or password needed!</p>
<%= render "form" %>

<h2>Alert someone</h2>
<p>Don't want to send a text? Alert a car owner with this form instead</p>
<%= render "text_form" %>
